header {
    border-bottom: solid 1px #e8e8e8;
    margin-bottom: 10px;
}

header .limit-width {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.search-delivery {
    display: flex;
    align-items: center;
}

.search-delivery .input-field {
    margin-right: 30px;
}

.container-bag {
    position: relative;
}